@using CI_Platform.Entities.DataModels;
@model CI_Platform.Entities.ViewModels.LandingPageModel;

<script>
    if (localStorage.getItem('view') == 0) {
    $('#GridView').show();
    $('#ListView').hide();
    }
    else {
    $('#ListView').show();
    $('#GridView').hide();
    }
</script>

<p id="total-records" class="d-none" data-totalCard="@Model.totalRecords">@Model.totalRecords</p>
@if (Model.totalRecords < 1)
{
    <partial name="_NoMissionFound" />
}
else
{

    <div id="GridView" class="tab-pane active">
        <div class="container">

            <div class="row">

                <!-- card 1 -->
                @if (Model.MissionList != null)
                {
                    @foreach (var card in Model.MissionList)
                    {
                        DateTime? currentDate = @DateTime.Now;
                        TimeSpan ts1 = new TimeSpan(1, 0, 0, 0);
                        var deadline = @card.Missiondata.StartDate - ts1;


                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card grid-card">
                                <div class="card-image">
                                    @if (card.MissionMedia != null)
                                    {
                                        <img src="~/MissionImages/@card.MissionMedia" alt="Card Image">
                                    }
                                    else
                                    {
                                        <img src="~/images/no-image-icon.png" alt="Card Image">
                                    }

                                    <!-- location favourite and pause mission  -->
                        <div class="card-items">
                                        <div class="location">
                                            <img src="~/images/pin.png" alt="">
                                            <p>@card.CityName</p>

                                        </div>
                                        <div class="fav">

                                            @if (card.IsFavourite)
                                            {
                                                <i class="bi bi-heart-fill favorite-button filled-heart text-danger" data-mission-id="@card.Missiondata.MissionId"></i>
                                            }

                                            else
                                            {
                                                <i class="bi bi-heart favorite-button empty-heart text-light" data-mission-id="@card.Missiondata.MissionId"></i>
                                            }
                                        </div>
                                        <div class="pause-mission-icon">
                                            <!-- Button trigger modal -->
                                <img data-bs-toggle="modal" data-bs-target="#inviteVolunteer_@card.Missiondata.MissionId" src="~/images/user.png" alt="">

                                            <!-- Invite Volunteer Modal -->
                                <div class="modal fade" id="inviteVolunteer_@card.Missiondata.MissionId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Invite Your Friend</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body" id="all-users">
                                                            @foreach (var user in Model.Users)
                                                            {
                                                                <div class="mt-2 d-flex justify-content-between">
                                                                    <span class="me-4 " id="user-name" data-userID="@user.UserId">@user.FirstName @user.LastName</span>
                                                                    <span class="invited-@user.UserId"><button class="btn btn-primary model-button invite-button" data-mission-Id="@card.Missiondata.MissionId">Invite</button></span>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- mission theme capsule -->
                        <div class="mission-theme">
                                        <h3>@card.ThemeName</h3>
                                    </div>
                                </div>

                                <!-- card content -->
                    <div class="card-content">
                                    <h2 class="card-title">@card.Missiondata.Title</h2>
                                    <p class="card-description">@card.Missiondata.ShortDescription</p>

                                    <!-- organization and rating -->
                        <div class="organization-rating">
                                        <div class="organization">
                                            <p>@card.Missiondata.OrganizationName</p>
                                        </div>
                                        <div class="rating d-flex flex-nowrap">
                                            @for (int i = 0; i < (int)card.rating; i++)
                                            {
                                                <span><img src="~/images/selected-star.png" alt=""></span>
                                            }
                                            @for (int i = 0; i < 5 - (int)card.rating; i++)
                                            {
                                                <span><img src="~/images/star.png" alt=""></span>
                                            }

                                        </div>
                                    </div>
                                    <!--  if mission deadline is passed, user already applied to mission or all seats are taken then only view details is shown -->
                                    @if (card.IsEnddatePassed)
                                    {
                                        <div class="border-top">
                                            <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new { id=@card.Missiondata.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                                View Details
                                                <img src="~/images/right-arrow.png" alt="">
                                                <img src="~/images/right-arrow2.png" alt="">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {

                                        <!-- seats and deadline -->
                                        <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                                            <div class="seats-detail d-flex align-items-center">
                                                <img src="~/images/Seats-left.png" alt="">
                                                <div class="d-flex flex-column">
                                                    <p class="seats-left">@card.seatsleft</p>
                                                    <p>Seats left</p>
                                                </div>
                                            </div>

                                            @if (card.Missiondata.MissionType == "Time")
                                            {
                                                <div class="duration-detail d-flex align-items-center">
                                                    <img src="~/images/deadline.png" alt="">
                                                    <div class="d-flex flex-column">
                                                        <p class="deadline">@deadline.Value.ToString("dd/MM/yyyy")</p>
                                                        <p>Deadline</p>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                var percentage = ((double)@card.AchievedGoal / (double)@card.Goalvalue) * 100;
                                                <div class="duration-detail d-flex align-items-center">
                                                    <img src="~/images/achieved.png" alt="">
                                                    <div class="d-flex flex-column">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: @percentage%"
                                             aria-valuenow="@card.AchievedGoal" aria-valuemin="0" aria-valuemax="@card.Goalvalue"></div>
                                                        </div>
                                                        <p>@card.AchievedGoal Achieved</p>
                                                    </div>
                                                </div>
                                            }


                                            <div class="mission-date">
                                                @if (card.Missiondata.MissionType == "Time")
                                                {
                                                    if (@card.IsOngoing)
                                                    {
                                                        <p>Ongoing Opportunity</p>
                                                    }
                                                    else
                                                    {
                                                        <p>From @card.Missiondata.StartDate.Value.ToString("dd/MM/yyyy") until @card.Missiondata.EndDate.Value.ToString("dd/MM/yyyy")</p>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>@card.goalObjectiveText</p>
                                                }
                                            </div>
                                        </div>

                                        if (card.IsDeadlinePassed || card.HasApplied || (card.seatsleft == 0))
                                        {
                                            <!-- View details button -->
                                            <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new { id=@card.Missiondata.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                                View Details
                                                <img src="~/images/right-arrow.png" alt="">
                                                <img src="~/images/right-arrow2.png" alt="">
                                            </a>
                                        }
                                        else
                                        {
                                            <!-- apply button -->
                                            <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new{ id=@card.Missiondata.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                                Apply
                                                <img src="~/images/right-arrow.png" alt="">
                                                <img src="~/images/right-arrow2.png" alt="">
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <!-- list view -->
    <div id="ListView" class="tab-pane">
        <div class="container">
            <!-- card 1 -->
            @if (Model.MissionList != null)
            {
                @foreach (var card in Model.MissionList)
                {
                    DateTime? currentDate = @DateTime.Now;
                    TimeSpan ts1 = new TimeSpan(1, 0, 0, 0);
                    var deadline = @card.Missiondata.StartDate - ts1;

                    <div>
                        <div class="card list-card">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="card-image h-100">
                                        @if (card.MissionMedia != null)
                                        {
                                            <img class="card-img-top" src="~/MissionImages/@card.MissionMedia" alt="Card Image">
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="~/images/no-image-icon.png" alt="Card Image">
                                        }

                                        <!-- location favourite and pause mission  -->
                            <div class="card-items">
                                            <a class="location d-inline">
                                                <img src="~/images/pin.png" alt="location" />
                                                <span>@card.CityName</span>
                                            </a>
                                            <a class="card-img-icon fav">
                                                @if (card.IsFavourite)
                                                {
                                                    <i class="bi bi-heart-fill favorite-button filled-heart text-danger" data-mission-id="@card.Missiondata.MissionId"></i>
                                                }
                                                else
                                                {
                                                    <i class="bi bi-heart favorite-button empty-heart text-light" data-mission-id="@card.Missiondata.MissionId"></i>
                                                }
                                            </a>
                                            <a class="card-img-icon pause-mission-icon">
                                                <img data-bs-toggle="modal" data-bs-target="#inviteVolunteer" src="~/images/user.png" alt="">
                                            </a>
                                        </div>

                                        <!-- mission theme capsule -->
                            <div class="mission-theme mission-theme-list-view">
                                            <h3>@card.ThemeName</h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- card content -->
                    <div class="col-md-6 col-lg-8">
                                    <div class="row">
                                        <div class="col">
                                            <div class="border-0">
                                                <h2 class="card-title mt-3">
                                                    @card.Missiondata.Title
                                                </h2>
                                                <p class="card-description">
                                                    @card.Missiondata.ShortDescription
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- organization and rating -->
                        <div class="row gx-0 ">
                                        <div class="col-md-12 col-lg-6 mt-md-2">
                                            <div class="organization-rating mb-3 organization-rating-list-view border-0 text-start d-flex align-items-center">
                                                <p class="organization mb-0 d-flex justify-content-md-between justify-content-lg-start column-gap-lg-3 card-text-medium">
                                                    @card.Missiondata.OrganizationName
                                                </p>
                                                <div class="rating">
                                                    @for (int i = 0; i < (int)card.rating; i++)
                                                    {
                                                        <span><img src="~/images/selected-star.png" alt=""></span>
                                                    }
                                                    @for (int i = 0; i < 5 - (int)card.rating; i++)
                                                    {
                                                        <span><img src="~/images/star.png" alt=""></span>
                                                    }
                                                </div>
                                            </div>

                                            <button class="align-left card-button card-button-list-view d-flex justify-content-between align-items-center">
                                                Apply
                                                <img src="~/images/right-arrow.png" alt="" />
                                                <img src="~/images/right-arrow2.png" alt="" />
                                            </button>
                                        </div>

                                        <div class="mission-details d-flex justify-content-around col-md-12 col-lg-6 ms-auto mt-md-4 border-top">
                                            <div class="mission-date">
                                                @if (card.Missiondata.MissionType == "Time")
                                                {
                                                    <p>From @card.Missiondata.StartDate.Value.ToShortDateString() until @card.Missiondata.EndDate.Value.ToShortDateString()</p>
                                                }
                                                else
                                                {
                                                    <p>@card.goalObjectiveText</p>
                                                }
                                            </div>
                                            <div class="row justify-content-around">
                                                <div class="seats-detail d-flex align-items-center">
                                                    <img src="~/images/Seats-left.png" alt="">
                                                    <div class="d-flex flex-column">
                                                        <p class="seats-left">@card.seatsleft</p>
                                                        <p>Seats left</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="duration-detail d-flex align-items-center">
                                                <img class="icon-detail"
                                         src="~/images/deadline.png"
                                         alt="star" />
                                                <div class="d-flex flex-column">
                                                    <p>@deadline.Value.ToShortDateString()</p>
                                                    <p>Deadline</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
