@model CI_Platform.Entities.ViewModels.MissionVolunteeringModel
@{
    Layout = "_HeaderLayout";
    ViewData["Title"] = "Mission Volunteering";
    var IsLoggedIn = ViewBag.IsLoggedIn;
    var UserId = Convert.ToInt64(ViewBag.UserId);
}
<script>
    var userId = @Html.Raw(Json.Serialize(UserId));
</script>
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@if(IsLoggedIn != "True"){
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <a type="button" href="@Url.Action("Index", "Home", new { returnUrl = @Context.Request.Path })" class="card-button d-flex justify-content-between align-items-center align-self-center mt-0">
                    Login
                    <img src="~/images/right-arrow.png" alt="">
                    <img src="~/images/right-arrow2.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
}

<div class="container mt-3">
    <div class="row">
        <!-- slider image gallery(swiper) -->
        <div class="col-lg-6 col-md-12">
            <div style="
              --swiper-navigation-color: #fff;
              --swiper-pagination-color: #fff;
            "
                 class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img11.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>
                </div>
                @*<div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>*@
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img11.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!-- details section -->
        <div class="col-lg-6 col-md-12 p-4 mt-md-3">
            <div class="d-flex flex-column">
                <h2 class="vmheading">@Model.mission.Title</h2>
                <p>
                    @Model.mission.ShortDescription
                </p>

                <!-- seats and deadline -->
                <div class="mission-details vm-mission-details d-flex justify-content-around border-top pt-0 ps-0 my-3">
                    <div class="seats-detail d-flex align-items-center">
                        <img src="~/images/Seats-left.png" alt="" />
                        <div class="d-flex flex-column">
                            @{
                                var seatsFilled = 0;
                                @if (@Model.mission.MissionApplications.Any(sl => sl.ApprovalStatus.Contains("published")))
                                {
                                    seatsFilled = Model.mission.MissionApplications.Count(sl => sl.ApprovalStatus.Equals("published"));
                                }
                                var seatsLeft = Model.mission.TotalSeats - seatsFilled;
                            }
                            <p>@seatsLeft</p>
                            <p>Seats left</p>
                        </div>
                    </div>
                    @{
                        DateTime? currentDate = @DateTime.Now;
                        TimeSpan ts1 = new TimeSpan(1, 0, 0, 0);
                        var deadline = Model.mission.StartDate - ts1;
                        bool isDeadlinePassed = currentDate > deadline;
                        bool isOngoing = currentDate > Model.mission.StartDate;


                        bool isAlreadyApplied = Model.mission.MissionApplications.Any(ma => ma.UserId.Equals(UserId));
                    }
                    @if (Model.mission.MissionType == "Time")
                    {
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p class="deadline">@deadline.Value.ToString("dd/MM/yyyy")</p>
                                <p>Deadline</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        @foreach (var goal in Model.mission.GoalMissions)
                        {
                            <div class="duration-detail d-flex align-items-center">
                                <img src="~/images/achieved.png" alt="">
                                <div class="d-flex flex-column">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="@goal.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>@goal.GoalValue Achieved</p>
                                </div>
                            </div>
                        }
                    }

                    <div class="mission-date">
                        @if (Model.mission.MissionType == "Time")
                        {
                            <p>From @Model.mission.StartDate.Value.ToString("dd/MM/yyyy") until @Model.mission.EndDate.Value.ToString("dd/MM/yyyy")</p>

                        }
                        else
                        {
                            @foreach (var goal in Model.mission.GoalMissions)
                            {
                                <p>@goal.GoalObjectiveText</p>
                            }
                        }
                    </div>
                </div>

                @*favourite and recommend to a co-worker*@
                <div class="row border-bottom pb-3 position-relative">
                    <div class="col-sm-12 col-lg-6 col-md-6 mb-3">


                        @{
                            var flag = 1;
                        }
                        @foreach (var fm in Model.mission.FavoriteMissions)
                        {
                            @if (fm.UserId.Equals(UserId))
                            {
                                <a class="btn vmbtn py-md-1 py-sm-1 py-lg-2" for="@Model.mission.MissionId"><i class="bi bi-heart-fill favorite-button filled-heart text-danger me-2" data-mission-id="@Model.mission.MissionId"></i><span>Remove From Favourite</span></a>
                                flag = 0;
                            }

                        }
                        @if (flag == 1)
                        {
                                <a class="btn vmbtn py-md-1 py-sm-1 py-lg-2" for="@Model.mission.MissionId"><i class="bi bi-heart favorite-button empty-heart text-light me-2" data-mission-id="@Model.mission.MissionId"></i><span>Add to Favourite</span></a>
                            }


                            @*<a href="#" class="btn vmbtn py-md-1 py-sm-1 py-lg-2"><img class="me-3" src="~/images/heart1.png" /><img class="me-3" src="~/images/heart.png" /><span>Add to Favourite</span></a>*@
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6 mb-3">
                            <a href="#" class="btn vmbtn py-md-1 py-sm-1 py-lg-2" data-bs-toggle="modal" data-bs-target="#inviteVolunteer"><div class="recommend-icon me-3"></div><span class="recommend-text"></span></a>


                            <!-- Invite Volunteer Modal -->
                        <div class="modal fade" id="inviteVolunteer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Invite Your Friend</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" id="all-users">
                                            @if (Model.UserList == null)
                                            {
                                                <!-- Login button -->
                                                <a type="button" href="@Url.Action("Index", "Home", new { returnUrl = @Context.Request.Path })" class="card-button d-flex justify-content-between align-items-center align-self-center mt-0">
                                                    Login to recommend to co-worker
                                                    <img src="~/images/right-arrow.png" alt="">
                                                    <img src="~/images/right-arrow2.png" alt="">
                                                </a>
                                            }
                                            else
                                            {

                                                @foreach (var u in Model.UserList)
                                                {
                                                    <div class="mt-2 d-flex justify-content-between">
                                                        <span class="me-4 " id="user-name" data-userID="@u.UserId">@u.FirstName @u.LastName</span>
                                                        <span class="invited-@u.UserId"><button class="btn btn-primary model-button invite-button" data-mission-Id="@Model.mission.MissionId">Invite</button></span>
                                                    </div>
                                                }
                                            }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*average rating capsule*@
                    @*@{
                        double avgRating = 0;
                        @if (Model.mission.MissionRatings.Any())
                        {
                        avgRating = Model.mission.MissionRatings.Average(r => r.Rating);
                        }
                        }*@
                    <div class="star-capsule">
                        @{
                            // we will check  if user have already rated this mission or not
                            var userHasRated = false;
                            var rating = 0;
                            foreach (var mr in Model.mission.MissionRatings)
                            {
                                if (mr.UserId.Equals(UserId))
                                {
                                    // if rated then true
                                    userHasRated = true;
                                    rating = mr.Rating;
                                    break;
                                }
                            }
                        }
                        <!-- if rated then if condition will works and prints the rated star otherwise prints empty stars -->
                        @if (userHasRated)
                        {
                            for (int i = 0; i < rating; i++)
                            {
                                <span><i class="bi bi-star-fill text-warning" data-star="@(i + 1)"></i></span>
                            }
                            for (int i = rating; i < 5; i++)
                            {
                                <span><i class="bi bi-star-fill text-secondary" data-star="@(i + 1)"></i></span>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <span><i class="bi bi-star-fill text-secondary" data-star="@(i + 1)"></i></span>
                            }
                        }

                    </div>
                </div>

                <!-- cards -->
                <div class="vm-cards row mt-4">
                    <div class="d-flex flex-column col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 mb-sm-3">
                        <div class="ps-3 pb-2 rounded border">
                            <img src="~/images/pin1.png" class=" mt-3 mb-4" />
                            <p>City</p>
                            <p>@Model.mission.City.Name</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 mb-sm-3">
                        <div class="ps-3 pb-2 rounded border">
                            <img src="~/images/web.png" class=" mt-3 mb-4" />
                            <p>Theme</p>
                            <p>@Model.mission.Theme.Title</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 mb-sm-3">
                        <div class="ps-3 pb-2 rounded border">
                            <img src="~/images/calender.png" class=" mt-3 mb-4" />
                            <p>Date</p>

                            @if (isOngoing)
                            {
                                <p>Ongoing Opportunity</p>
                            }
                            else
                            {
                                <p>@Model.mission.StartDate.Value.ToString("dd/MM/yyyy") to @Model.mission.EndDate.Value.ToString("dd/MM/yyyy")</p>
                            }
                            @*<p>Ongoing Opportunity</p>*@
                        </div>
                    </div>

                    <div class="d-flex flex-column col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 mb-sm-3">
                        <div class="ps-3 pb-2 rounded border">
                            <img src="~/images/organization.png" class=" mt-3 mb-4" />
                            <p>Organization</p>
                            <p>@Model.mission.OrganizationName</p>
                        </div>
                    </div>
                </div>
                @if (Model.mission.MissionApplications.Any(m => m.UserId == UserId && m.MissionId == Model.mission.MissionId && (m.ApprovalStatus == "PUBLISHED" || m.ApprovalStatus == "PENDING")))
                {
                    <a class="published-btn apply-btn d-flex justify-content-between align-items-center align-self-center" data-toggle="modal" data-target="#confirmationModal" disabled>
                        Applied
                    </a>
                }
                else
                {
                    <a class="card-button apply-btn d-flex justify-content-between align-items-center align-self-center" id="confirmation">
                        Apply Now
                        <img src="~/images/right-arrow.png" alt="">
                        <img src="~/images/right-arrow2.png" alt="">
                    </a>
                }



                @*<!-- apply modal not working -->
                    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invite Your Friend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <a class="text-dark border-end pe-3" href="mailto:?subject=Check out this mission&amp;body=Here is the link to the mission page: @Url.Action("MissionVolunteering", "Mission", new { id = Model.mission.MissionId })">Share via Email</a>

                    <a class="ps-3 text-dark" href="whatsapp://send?text=Check out this mission: @Url.Action("MissionVolunteering", "Mission", new { id = Model.mission.MissionId })">Share via WhatsApp</a>

                    </div>
                    </div>
                    </div>
                    </div>*@

                <!-- modal for confirmation of application in mission -->
                @*<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Are you sure you want to apply?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Your application will be sent to the mission owner for approval.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmApply">Apply</button>
                    </div>
                    </div>
                    </div>
                    </div>*@

            </div>
        </div>
    </div>

    @*mission organization comments *@
    <div class="row mt-5 vm-mis-org-com mb-4">
        <div class="col-md-12 col-lg-8">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mission</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Organization</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Comments</button>
                </div>
            </nav>
            <div class="tab-content mission-tab mb-md-3" id="nav-tabContent">
                @*mission tab*@
                <div class="tab-pane show active fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="intro">
                        <h2 class="mt-3">Introduction</h2>
                        <p>@Model.mission.Description</p>
                    </div>
                    <div class="challenge">
                        <h2>Challenge</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="docs">
                        <h2>Documents</h2>
                        <div class="d-flex mt-3">
                            <div class="d-flex mb-1"><img class="me-2" src="~/images/pdf.png" /><span>lorem-ipsum.pdf</span></div>
                            <div class="d-flex mb-1"><img class="me-2" src="~/images/doc.png" /><span>at_vero_eos_accusamus.doc</span></div>
                            <div class="d-flex mb-1"><img class="me-2" src="~/images/xlsx.png" /><span>important_doc.xls</span></div>
                        </div>
                    </div>
                </div>

                @*organization tab*@
                <div class="tab-pane fade organization-tab mb-md-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p class="mt-4">@Model.mission.OrganizationDetail</p>
                </div>

                @*comments tab*@
                <div class="tab-pane fade comments-tab mb-md-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <form method="post" class="mt-4" id="comment-form" data-mission-id="@Model.mission.MissionId">
                        <div class="mb-3">
                    <label asp-for="comment1" class="form-label">Comment</label>
                            <textarea asp-for="comment1" class="form-control " rows="3" placeholder="Enter Your Comments..." name="Comment1"></textarea>
                        <span asp-validation-for="comment1" class="text-danger"></span>

                        </div>
                        <input type="hidden" name="UserId" value="@UserId" />
                        <input type="hidden" name="MissionId" value="@Model.mission.MissionId" />
                        <button type="submit" class="card-button d-flex justify-content-between align-items-center align-self-center m-0">
                            Post Comment
                        </button>
                    </form>
                    <div class="show-comments mt-4">
                        @foreach (var comment in Model.mission.Comments)
                        {
                            if (@comment.ApprovalStatus == "PUBLISHED")
                            {
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-2 d-flex justify-content-center align-items-center">
                                            <img src="~/images/volunteer1.png" />
                                        </div>
                                        <div class="col-10 d-flex flex-column ">
                                            <p class="comment-user mb-1 mt-1">@comment.User.FirstName @comment.User.LastName</p>
                                            <p class="comment-time mb-2">@comment.CreatedAt.ToString("dddd, MMMM dd, yyyy, h:mm tt")</p>
                                            <p class="comment-text mb-2">@comment.Comment1</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        @*information section*@
        <div class="col-md-12 col-lg-4">
            <div class="border p-2">
                <div class="info-heading">
                    <h2>Information</h2>
                </div>
                <div class="border-top mb-2 mission-skills">
                    <div class="row p-1">
                        <div class="col-3">
                            Skills
                        </div>
                        <div class="col-9">
                            @{
                                var totalSkills = Model.mission.MissionSkills.Count();
                                var count = 0;
                            }
                            @foreach (var skill in Model.mission.MissionSkills)
                            {
                                count = count + 1;
                                @if (count != totalSkills)
                                {
                                    <span>@skill.Skill.SkillName,</span>
                                }
                                else
                                {
                                    <span>@skill.Skill.SkillName</span>

                                }

                            }
                        </div>
                    </div>
                </div>

                <div class="border-top my-2 mission-days">
                    <div class="row p-1">
                        <div class="col-3">Days</div>
                        <div class="col-9">
                            @if (@Model.mission.Availability != "weekend")
                            {
                                <span>@Model.mission.Availability</span>
                            }
                            else
                            {
                                <span>@Model.mission.Availability Only</span>
                            }
                        </div>
                    </div>
                </div>
                @{
                    double avgRating = 0;
                    @if (Model.mission.MissionRatings.Any())
                    {
                        avgRating = Model.mission.MissionRatings.Average(r => r.Rating);
                    }
                }
                <div class="border-top my-2 mission-rating">
                    <div class="row p-1">
                        <div class="col-3">Rating</div>
                        <div class="col-9">
                            @for (int i = 0; i < (int)avgRating; i++)
                            {
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                @*<i class="bi bi-star-fill text-secondary" data-star="@(i + 1)"></i>*@
                            }
                            @for (int i = 0; i < 5 - (int)avgRating; i++)
                            {
                                <span><img src="~/images/star.png" alt=""></span>
                                @*<i class="bi bi-star-fill text-warning" data-star="@(i + 1)"></i>*@
                            }

                            <span>(by @Model.mission.MissionRatings.Count() @(Model.mission.MissionRatings.Count() <= 1 ? "Volunteer" : "volunteers"))</span>
                        </div>
                    </div>
                </div>
            </div>

            @*recent volunteers*@
            @{
                int totalVolunteers = Model.mission.MissionApplications.Count(ma => ma.ApprovalStatus == "PUBLISHED");
                int totalSlides = (int)Math.Ceiling((decimal)totalVolunteers / 9);
            }
            <div class="border p-2 mt-4 pb-0">
                <div class="info-heading">
                    <h2>Recent Volunteers</h2>
                </div>
                <div class="container-fluid border-bottom"></div>

                @if (totalVolunteers == 0)
                {
                    <div class="my-2">There is no recent volunteers in this mission</div>
                }
                else
                {
                    <div id="recentVolunteersSlider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            @for (int i = 0; i < totalSlides; i++)
                            {
                                <div class="carousel-item active">
                                    <div class="row recent-volunteers">
                                        <!-- pending -->
                                        @*@{
                                            int startIndex = i + 1;
                                            int endIndex = 
                                        }*@
                                        @foreach (var volunteer in Model.mission.MissionApplications)
                                        {
                                                if(volunteer.ApprovalStatus == "PUBLISHED")
                                                {
                                                    
                                                <div class="col-4 mt-3">
                                                <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>@volunteer.User.FirstName @volunteer.User.LastName</p></div>
                                            </div>
                                                }
                                        }
                                    </div>
                                </div>
                            }
                            @*<div class="carousel-item active">
                                <div class="row recent-volunteers">
                                    <div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row recent-volunteers">
                                    <div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row recent-volunteers">
                                    <div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div><div class="col-4 mt-3">
                                        <div class="d-flex flex-column align-items-center"><img src="~/images/volunteer1.png" /><p>Andrew Johnson</p></div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center border-end">
                                <a class="carousel-control-prev" data-bs-target="#recentVolunteersSlider" role="button" data-bs-slide="prev">
                                    <img src="~/images/left.png" />
                                </a>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <p class="mb-0">1-@(totalVolunteers<=9 ? totalVolunteers : 9) of @totalVolunteers Recent Volunteers</p>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center border-start">
                                <a class="carousel-control-next" type="button" data-bs-target="#recentVolunteersSlider" role="button" data-bs-slide="next">
                                    <img src="~/images/right-arrow1.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>



    @*related mission*@
    <div class="related-missions border-top">
        <h2 class="mt-3">Related Missions</h2>

        <div class="row">

            <!-- card 1 -->
            @if (Model.RelatedMissions != null)
            {
                @foreach (var card in Model.RelatedMissions)
                {
                    <div class="col col-md-6 col-lg-4">
                        <div class="card grid-card">
                            @{
                                double avgrating = 0;
                                @if (card.MissionRatings.Any())
                                {
                                    avgrating = card.MissionRatings.Average(r => r.Rating);
                                }
                            }
                            @*for comparing skills with selected skills*@
                            @foreach (var skill in card.MissionSkills)
                            {
                                <p class="d-none mission-skills">@skill.Skill.SkillName</p>
                            }
                            <p class="created-date d-none">@card.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</p>

                            <div class="card-image">
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">

                                <!-- location favourite and pause mission  -->
                        <div class="card-items">
                                    <div class="location">
                                        <img src="~/images/pin.png" alt="">
                                        <p>@card.City.Name</p>

                                    </div>
                                    <div class="fav">

                                        @{
                                            
                                            var flag1 = 1;
                                        }
                                        @foreach (var fm in card.FavoriteMissions)
                                        {
                                            @if (fm.UserId==UserId)
                                            {
                                                <i class="bi bi-heart-fill favorite-button filled-heart text-danger" data-mission-id="@card.MissionId"></i>
                                                flag1 = 0;
                                            }

                                        }
                                        @if (flag1 == 1)
                                        {
                                            <i class="bi bi-heart favorite-button empty-heart text-light" data-mission-id="@card.MissionId"></i>
                                        }


                                        @*<p>@card.FavoriteMissions.Any(m => m.UserId.Equals(UserId))</p>*@
                                        @*<img src="~/images/heart.png" alt="" class="favorite-button" data-mission-id="@card.MissionId">*@
                                    </div>
                                    <div class="pause-mission-icon">


                                        <!-- Button trigger modal -->
                                <img data-bs-toggle="modal" data-bs-target="#inviteVolunteer" src="~/images/user.png" alt="">

                                        <!-- Invite Volunteer Modal -->
                                <div class="modal fade" id="inviteVolunteer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Invite Your Friend</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <a class="text-dark border-end pe-3" href="mailto:?subject=Check out this mission&amp;body=Here is the link to the mission page: @Url.Action("MissionVolunteering", "Mission", new { id = card.MissionId })">Share via Email</a>

                                                        <a class="ps-3 text-dark" href="whatsapp://send?text=Check out this mission: @Url.Action("MissionVolunteering", "Mission", new { id = card.MissionId })">Share via WhatsApp</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- mission theme capsule -->
                        <div class="mission-theme">
                                    @*<h3>Environment</h3>*@
                                    <h3>@card.Theme.Title</h3>
                                </div>
                            </div>

                            <!-- card content -->
                    <div class="card-content">
                                <h2 class="card-title">@card.Title</h2>
                                <p class="card-description">@card.ShortDescription</p>

                                <!-- organization and rating -->
                        <div class="organization-rating">
                                    <div class="organization">
                                        <p>@card.OrganizationName</p>
                                    </div>
                                    <div class="rating">
                                        @for (int i = 0; i < (int)avgrating; i++)
                                        {
                                            <span><img src="~/images/selected-star.png" alt=""></span>
                                        }
                                        @for (int i = 0; i < 5 - (int)avgrating; i++)
                                        {
                                            <span><img src="~/images/star.png" alt=""></span>
                                        }

                                    </div>
                                </div>
                                @{
                                    DateTime? currentdate = @DateTime.Now;
                                    TimeSpan ts2 = new TimeSpan(1, 0, 0, 0);
                                    var deadline1 = @card.StartDate - ts2;
                                    bool isEnddatePassed = currentdate > card.EndDate;
                                    bool isongoing = currentdate > card.StartDate;
                                    bool isdeadlinePassed = currentdate > deadline1;

                                    var seatsfilled = 0;
                                    if (card.MissionApplications.Any(sl => sl.ApprovalStatus.Contains("published")))
                                    {
                                        seatsfilled = card.MissionApplications.Count(sl => sl.ApprovalStatus.Equals("published"));
                                    }
                                    var seatsleft = card.TotalSeats - seatsFilled;

                                    bool isalreadyApplied = card.MissionApplications.Any(ma => ma.UserId.Equals(UserId));
                                }
                                <!--  if mission deadline is passed, user already applied to mission or all seats are taken then only view details is shown -->
                                @if (isEnddatePassed)
                                {
                                    <div class="border-top">
                                        <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new { id=@card.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                            View Details
                                            <img src="~/images/right-arrow.png" alt="">
                                            <img src="~/images/right-arrow2.png" alt="">
                                        </a>
                                    </div>
                                }
                                else
                                {

                                    <!-- seats and deadline -->
                                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                                        <div class="seats-detail d-flex align-items-center">
                                            <img src="~/images/Seats-left.png" alt="">
                                            <div class="d-flex flex-column">
                                                <p class="seats-left">@seatsLeft</p>
                                                <p>Seats left</p>
                                            </div>
                                        </div>

                                        @if (card.MissionType == "Time")
                                        {
                                            <div class="duration-detail d-flex align-items-center">
                                                <img src="~/images/deadline.png" alt="">
                                                <div class="d-flex flex-column">
                                                    <p class="deadline">@deadline.Value.ToString("dd/MM/yyyy")</p>
                                                    <p>Deadline</p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var goal in card.GoalMissions)
                                            {
                                                <div class="duration-detail d-flex align-items-center">
                                                    <img src="~/images/achieved.png" alt="">
                                                    <div class="d-flex flex-column">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: @goal.GoalValue%" aria-valuenow="@goal.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <p>@goal.GoalValue Achieved</p>
                                                    </div>
                                                </div>
                                            }
                                        }


                                        <div class="mission-date">
                                            @if (card.MissionType == "Time")
                                            {
                                                if (isOngoing)
                                                {
                                                    <p>Ongoing Opportunity</p>
                                                }
                                                else
                                                {
                                                    <p>From @card.StartDate.Value.ToString("dd/MM/yyyy") until @card.EndDate.Value.ToString("dd/MM/yyyy")</p>
                                                }
                                            }
                                            else
                                            {
                                                @foreach (var goal in card.GoalMissions)
                                                {
                                                    <p>@goal.GoalObjectiveText</p>
                                                }
                                            }
                                        </div>
                                    </div>

                                    if (isdeadlinePassed || isalreadyApplied || (seatsleft == 0))
                                    {
                                        <!-- View details button -->
                                        <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new { id=@card.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                            View Details
                                            <img src="~/images/right-arrow.png" alt="">
                                            <img src="~/images/right-arrow2.png" alt="">
                                        </a>
                                    }
                                    else
                                    {
                                        <!-- apply button -->
                                        <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new{ id=@card.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center">
                                            Apply
                                            <img src="~/images/right-arrow.png" alt="">
                                            <img src="~/images/right-arrow2.png" alt="">
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
    </div>
</div>
</div>