@using CI_Platform.Entities.ViewModels
@using CI_Platform.Entities.DataModels
@model CI_Platform.Entities.ViewModels.NotificationModel

<div class="dropdown" data-bs-auto-close="false">
    <form>
    <div role="button" class="notification-icon-container" data-bs-toggle="dropdown">
        <i class="fa-sharp fa-regular fa-bell text-secondary me-3 notification-icon"></i>

        <!-- notification count -->
        <span class="notification-count">@Model.NotificationCount</span>
    </div>
    <div class="dropdown-menu pt-0" id="notification-dropdown" aria-labelledby="dropdownMenuButton">
        <div class="d-flex justify-content-around align-items-center border-bottom py-2 mb-3">
            <i class="fa-solid fa-gear notification-settings-icon"></i>
            <span>Notifications</span>
            <span class="">Clear All</span>
        </div>
        <div class="notifications-section">
            @foreach (UserNotification notification in Model.Notifications)
            {
                if (notification.Notification.NotificationSettingsId == 1)
                {
                    <a class="text-decoration-none text-secondary" href="@Url.Action("MissionVolunteering", "Mission" , new { id=@notification.Notification.MissionId})">
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <img src="~/ProfileImages/@notification.FromUserAvatar" class="me-2 rounded-circle notification-avatar col-2" />
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="text-wrap">
                                    <span class="">@notification.FromUser - Recommends this Mission - @notification.MissionTitle</span>
                                </div>
                                <div class="ms-1 me-2">
                                    <i class="fa-solid fa-circle text-warning notification-blob ms-1 col-1 text-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else if (notification.Notification.NotificationSettingsId == 4)
                {

                }
            }
        </div>
        <div class="notification-settings-section">
            @foreach (NotificationSetting setting in Model.NotificationSettings)
            {
                <div class="form-check px-2 d-flex justify-content-between">
                    <span>
                        @setting.SettingName
                    </span>
                    <input class="form-check-input" type="checkbox" value="" id="@setting.NotificationSettingsId">
                </div>
            }
        </div>

    </div>
    </form>
</div>