@model CI_Platform.Entities.ViewModels.AdminMissionModel

<form id="mission-form" class="mt-2 row">
    <input type="hidden" asp-for="MissionId" id="CMSPageId" />
    <div class="col-6 col-md-12 mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Enter title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="col-6 col-md-12 mb-3">
        <label class="form-label" asp-for="ShortDescription" class="my-0">Short Description</label>
        <textarea asp-for="ShortDescription" class="form-control" rows="3" placeholder="Enter Short Description"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>

    <div class="col-6 col-md-12 mb-3">
        <label class="form-label" asp-for="Description" class="my-0">Long Description</label>
        <textarea asp-for="Description" class="form-control" id="editor" rows="3" placeholder="Enter Description"></textarea>
        <span id="descriptionValidation" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="StartDate" class="my-0">Start Date</label>
        <input asp-for="StartDate" type="date" id="start-date" class="form-control date-picker" placeholder="Select start date">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="EndDate" class="my-0">End Date</label>
        <input asp-for="EndDate" type="date" id="end-date" class="form-control date-picker" placeholder="Select start date">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="MissionType">Mission Type</label>
        <select class="form-select" asp-for="MissionType" id="type">
            <option selected value="">Select Mission Type</option>
            <option value="Time">Time</option>
            <option value="Goal">Goal</option>
        </select>
        <span asp-validation-for="MissionType" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="Status">Status</label>
        <select class="form-select" asp-for="Status" id="status">
            <option selected value="">Select status</option>
            <option value="0">Inactive</option>
            <option value="1">Active</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>


    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="Availability">Availability</label>
        <select class="form-select" asp-for="Availability" id="availability">
            <option selected value="">Select Availability</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
        </select>
        <span asp-validation-for="Availability" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="GoalValue">Goal Value</label>
        <input type="number" class="form-control" asp-for="GoalValue" placeholder="Enter Goal Value">
        <span asp-validation-for="GoalValue" class="text-danger"></span>
    </div>
    <div class="col-12 mb-3">
        <label class="form-label" asp-for="GoalObjectiveText">Goal Objective Text</label>
        <input type="number" class="form-control" asp-for="GoalObjectiveText" placeholder="Enter Goal Objective Text">
        <span asp-validation-for="GoalObjectiveText" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <label class="form-label" asp-for="TotalSeats">Total Seats</label>
        <input type="number" class="form-control" asp-for="TotalSeats" placeholder="Enter Total Seats">
        <span asp-validation-for="TotalSeats" class="text-danger"></span>
    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="CountryId" class="form-label">Country</label>
        <select asp-for="CountryId" class="form-select user-country" aria-label="Country">
            <option value="">Select your country</option>
            @foreach (var country in Model.CountryList)
            {
                @if (country.CountryId == Model.CountryId)
                {
                    <option value="@country.CountryId" selected>@country.Name</option>
                }
                else
                {
                    <option value="@country.CountryId">@country.Name</option>
                }
            }
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>

    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="CityId" class="form-label">City</label>
        <select asp-for="CityId" class="form-select user-city" aria-label="Country">
            <option value="">Select your city</option>
            @if (Model.CityList != null)
            {
                @foreach (var city in Model.CityList)
                {
                    @if (city.CityId == Model.CityId)
                    {
                        <option value="@city.CityId" selected>@city.Name</option>
                    }
                    else
                    {
                        <option value="@city.CityId">@city.Name</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>

    </div>

    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="ThemeId" class="form-label">Mission Theme</label>
        <select asp-for="ThemeId" class="form-select" aria-label="mission theme">
            <option value="">Select Mission Theme</option>
            @foreach (var theme in Model.ThemeList)
            {
                @if (theme.MissionThemeId == Model.ThemeId)
                {
                    <option value="@theme.MissionThemeId" selected>@theme.Title</option>
                }
                else
                {
                    <option value="@theme.MissionThemeId">@theme.Title</option>
                }
            }
        </select>
        <span asp-validation-for="ThemeId" class="text-danger"></span>

    </div>

    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="ThemeId" class="form-label">Mission Skills</label>
        <div class="dropdown border mission-skills">
            <a class="text-decoration-none d-flex justify-content-between align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>Mission skills</span>
                <img src="~/images/drop-down.png" alt="">
            </a>
            <ul class="dropdown-menu" id="skillDropdown">
                @foreach (var skill in Model.SkillList)
                {
                    <li class="ms-2 form-check">
                        <input type="checkbox" value="@skill.SkillId" class="form-check-input" id="skill_@skill.SkillId" name="skillCheckboxes" multiple @(Model.MissionSkills != null && Model.MissionSkills.Contains(skill.SkillId) ? "checked" : "")>
                        <label class="form-check-label" for="skill_@skill.SkillId">@skill.SkillName</label>
                    </li>
                }
            </ul>
        </div>
    </div>


    <div class="col-6 col-md-12 mb-3">
        <label class="form-label" asp-for="OrganizationName">Organization Name</label>
        <input type="text" class="form-control" asp-for="OrganizationName" placeholder="Enter Organization Name">
        <span asp-validation-for="OrganizationName" class="text-danger"></span>
    </div>
    <div class="col-6 col-md-12 mb-3">
        <label class="form-label" asp-for="OrganizationDetail">Organization Detail</label>
        <textarea asp-for="OrganizationDetail" class="form-control" rows="3" placeholder="Enter Organization Detail"></textarea>
        <span asp-validation-for="OrganizationDetail" class="text-danger"></span>
    </div>



    <div class="col-12 mb-3 mt-3">
        <label asp-for="MissionUrls" class="form-label">Enter Video URL</label>
        <a class="info-button" title="Only Youtube url is valid and You can add multiple urls by pressing enter">i</a>
        <textarea asp-for="MissionUrls" type="text" class="form-control" id="url" aria-describedby="url" rows="1" placeholder="Enter your urls(Youtube Only)"></textarea>
        <span id="urlValidation" class="text-danger"></span>

    </div>

    <div class="col-12 mb-3">
        <p class="mb-0">Upload your photos</p>
        <div id="dropzone" class="dropzone">
            <input type="file" class="d-none" accept=".jpg,.png, .jpeg" multiple id="actual-file-input" name="images" asp-for="Files" />
            <label class="drag-drop mb-4" for="actual-file-input" id="file-button">
                <img src="~/images/drag-and-drop.png" />
            </label>
        </div>
        @if (Model.FileNames != null)
        {
            @foreach (string image in Model.FileNames)
            {
                <input type="text" class="d-none image-paths" asp-for="FileNames" value="@image">
            }
        }
            <input type="text" class="d-none default-image-path" asp-for="FileNames" value="@Model.DefaultImageName">

        <div id="image-list" class="d-flex">
            <!-- Selected images will be displayed here -->
        </div>
    </div>
    <div class="col-12 mb-3">
        <p class="mb-0">Upload mission documents</p>
        <div id="dropzone-doc" class="dropzone">
            <input type="file" class="d-none" accept=".pdf" multiple id="document-input" name="documents" asp-for="Files" />
            <label class="drag-drop mb-4" for="document-input" id="document-button">
                <span>Drag and drop PDF files or click to select them</span>
            </label>
        </div>
        @if (Model.MissionDocsNames != null)
        {
            @foreach (string doc in Model.MissionDocsNames)
            {
                <input type="text" class="d-none doc-paths" asp-for="FileNames" value="@doc">
            }
        }
        <div id="docs-list" class="d-flex">
            <!-- Selected files will be displayed here -->
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
        <button type="reset" class="btn btn-outline-secondary skill-btn" id="admin-cancel-btn">Cancel</button>
        <button type="submit" id="save-mission" class="btn mt-0 card-button ms-2 me-0">Save</button>
    </div>


</form>

<!-- for validations -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    tinymce.init({
                   selector: "#editor",
                   height: 300,
                   plugins: "lists advlist code emoticons link media",
                   toolbar:
                       " bold italic underline strikethrough numlist bullist " +
                       "subscript superscript undo redo",
               });
</script>