@model CI_Platform.Entities.ViewModels.AdminUserModel

<form class="my-0 row" id="user-form" method="post">
    <input type="text" class="d-none" asp-for="UserId" />
    <div class="col-12 col-md-6 my-1">
        <label class="form-label" asp-for="Name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Enter First Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 my-1">
        <label class="form-label" asp-for="Surname">Surname</label>
        <input type="text" class="form-control" id="Surname" asp-for="Surname" placeholder="Enter Last Name">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 my-1">
        <label class="form-label" asp-for="Email">Email</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" placeholder="Enter Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 my-1">
        <label class="form-label" asp-for="Password">Password</label>
        <input type="text" class="form-control" id="Password" asp-for="Password" placeholder="Enter Password" autocomplete="current-password"> 
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="CountryId" class="form-label">Country</label>
        <select asp-for="CountryId" class="form-select user-country" aria-label="Country">
            <option value="">Select your country</option>
            @foreach (var country in Model.countryList)
            {
                @if (country.CountryId == Model.CountryId)
                {
                    <option value="@country.CountryId" selected>@country.Name</option>
                }
                else
                {
                    <option value="@country.CountryId">@country.Name</option>
                }
            }
        </select>
    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="CityId" class="form-label">City</label>
        <select asp-for="CityId" class="form-select user-city" aria-label="Country">
            <option value="">Select your city</option>
            @foreach (var city in Model.cityList)
            {
                @if (city.CityId == Model.CityId)
                {
                    <option value="@city.CityId" selected>@city.Name</option>
                }
                else
                {
                    <option value="@city.CityId">@city.Name</option>
                }
            }
        </select>
    </div>

    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="employeeId" class="form-label">Employee Id</label>
        <input asp-for="employeeId" type="text" class="form-control" id="employeeId" aria-describedby="employeeId" placeholder="Enter your employee id">
        <span asp-validation-for="employeeId" class="text-danger"></span>
    </div>

    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="department" class="form-label">Department</label>
        <input asp-for="department" type="text" class="form-control" id="department" aria-describedby="department" placeholder="Enter department name">

    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <label asp-for="Status" class="form-label">Status</label>
        <input asp-for="Status" name="Status" type="number" class="form-control" id="status" aria-describedby="status" min="0" max="1" placeholder="Enter Status">
    </div>
    <div class="col-12 mb-3">
        <label asp-for="MyProfile" class="form-label">My Profile</label>
        <textarea asp-for="MyProfile" name="MyProfile" class="form-control" id="MyProfile" aria-describedby="MyProfile" rows="3" placeholder="Enter your comments..."></textarea>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-secondary skill-btn" id="admin-cancel-btn">Cancel</button>
        <button type="submit" id="sobmit-goal-btn" class="btn mt-0 card-button ms-2 me-0">Submit</button>
    </div>
</form>

<!-- for validations -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>