@using CI_Platform.Entities.DataModels

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Users";
}
@model CI_Platform.Entities.ViewModels.AdminUserModel
<!-- data tables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">
<label for="custom-search">Search:</label>
<input type="text" id="custom-search">

<div class="table-responsive admin-tables">
    <table class="table" id="user-table">
        <thead>
            <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">EmployeeId</th>
                <th scope="col">Department</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model.users)
            {
                <tr>
                    <th scope="row">@user.FirstName</th>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.EmployeeId</td>
                    <td>@user.Department</td>
                    <td>@user.Status</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- data table js -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script>
         
</script>