@using CI_Platform.Entities.DataModels
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_headerLayout";
}
@model CI_Platform.Entities.ViewModels.PrivacyModel
<div class="container Pcontainer">
    <h1 class="mt-3">Privacy and Cookies Policy</h1>
    <div class="row mt-4">
        <div class="col-md-3 d-md-block d-none">
            <div class="policyNavigation">
                <div class="policyNavigation">
                    @foreach (var page in @Model.cmsPages)
                    {                        
                        <a type="button" class="d-flex justify-content-between align-items-center p-2 text-decoration-none text-black" href="#@(page.Slug)">
                            <span>@(page.Title)</span>
                            <img src="~/images/arrow.png" />
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col col-md-9 col-sm-12 privacySections">
            @foreach(CmsTable page in Model.cmsPages)
            {
                
            <div class="mt-2" id="@(page.Slug)">
                <h2>@(page.Title)</h2>
                <p>@Html.Raw(page.Description)</p>
            </div>
            }
        </div>
    </div>
</div>
