@model CI_Platform.Entities.ViewModels.StoriesListingModel
<p id="total-stories" class="d-none">@Model.totalrecords</p>
@foreach (var story in Model.StoriesList)
{
    string description = story.StoryData.Description;
    if (description.Length > 100)
    {
        description = description.Substring(0, 100) + "...";
    }

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card story-card">
            <div class="card-image">
                        @if(story.StoryMedia != null)
                        {
                            <img src="~/Upload/@story.StoryMedia" alt="Card Image">
                        }
                        else
                        {
                            <img src="~/images/no-image-icon.png" alt="Card Image">
                        }
                <a href="@Url.Action("StoryDetail", "Story" , new { id=@story.StoryData.StoryId})" type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></a>
                <!-- story capsule -->
            <div class="mission-theme">
                    <h3>@story.ThemeName</h3>
                </div>
            </div>

            <!-- card content -->
        <div class="card-content">
                <h2 class="card-title">@story.StoryData.Title</h2>
                <p class="card-description">@Html.Raw(description)</p>
                @*image and name*@
                <div class="d-flex story-creator justify-content-start align-items-center">
                    <img src="~/images/volunteer1.png" class="me-3" />
                    <span>@story.UserName</span>
                </div>
            </div>
        </div>
    </div>
}