@model CI_Platform.Entities.ViewModels.StoryDetailModel
@{
    ViewData["Title"] = "StoryDetail";
    Layout = "_HeaderLayout";
}
@functions {
    public string GetEmbedUrl(string url)
    {
        var videoId = url.Split("v=")[1];
        return $"https://www.youtube.com/embed/{videoId}";
    }
                    }



<div class="container mt-3">
    <div class="row gx-5  mb-5">
        <!-- slider image gallery(swiper) -->
        <div class="col-lg-6 col-md-12">
            <div style="
              --swiper-navigation-color: #fff;
              --swiper-pagination-color: #fff;
            "
                 class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @foreach (var media in Model.StoryDetail.StoryMedia)
                    {
                        if (media.Type == "image")
                        {
                            <div class="swiper-slide">
                                <img src="~/Upload/@media.Path" />
                            </div>
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(media.Path))
                            {
                                <div class="swiper-slide">
                                    <iframe src="@GetEmbedUrl(@media.Path)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            }
                        }
                    }
                    @if (Model.StoryDetail.StoryMedia.Count(img => img.Type == "image" || img.Type == "VIDEO") < 4)
                    {
                        for (int i = 0; i < (4 - Model.StoryDetail.StoryMedia.Count(img => img.Type == "image" || img.Type == "VIDEO")); i++)
                        {
                            <div class="swiper-slide">
                                <img src="~/images/no-image-icon.png" />
                            </div>
                        }
                    }
                </div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var media in Model.StoryDetail.StoryMedia)
                    {
                        if (media.Type == "image")
                        {
                            <div class="swiper-slide">
                                <img src="~/Upload/@media.Path" />
                            </div>
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(media.Path))
                            {
                                <div class="swiper-slide">
                                    <iframe src="@GetEmbedUrl(@media.Path)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            }
                        }
                    }
                    @if (Model.StoryDetail.StoryMedia.Count(img => img.Type == "image" || img.Type == "VIDEO") < 4)
                    {
                        for (int i = 0; i < (4 - Model.StoryDetail.StoryMedia.Count(img => img.Type == "image" || img.Type == "VIDEO")); i++)
                        {
                            <div class="swiper-slide">
                                <img src="~/images/no-image-icon.png" />
                            </div>
                        }
                    }
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!-- details section -->
        <div class="col-lg-6 col-md-12 mt-4">
            <div class="d-flex justify-content-between align-items-end">
                <div class="d-flex flex-column volunteer-details">
                    @if(Model.StoryDetail.User.Avatar != null)
                    {
                        <img class="mb-3" src="~/ProfileImages/@Model.StoryDetail.User.Avatar" />
                    }
                    else
                    {
                        <img class="mb-3" src="~/images/default user avatar.jpg" />
                    }
                    <span>@Model.StoryDetail.User.FirstName @Model.StoryDetail.User.LastName</span>
                </div>
                @if (Model.StoryDetail.Status == "PUBLISHED")
                {
                    <div class="views-detail d-flex align-items-center">
                        <img class="me-2" src="~/images/eye.png" />
                        <span>@Model.StoryDetail.Views Views</span>
                    </div>
                }
            </div>
            <div class="story-description mt-4">
                <span>@Html.Raw(Model.StoryDetail.Description)</span>
            </div>

            <div class="sdbtns row my-4 justify-content-center mb-md-3">
                @if (Model.StoryDetail.Status == "PUBLISHED")
                {

                    <div class="col-12 text-center col-md-6">

                        <a href="#" class="btn vmbtn py-md-1 py-sm-1 py-lg-2" data-bs-toggle="modal" data-bs-target="#story-invite"><div class="recommend-icon me-3"></div><span class="recommend-text"></span></a>
                    </div>

                    <div class="mission-btn col-12 col-md-6">
                        <!-- open mission button -->
                    <a type="button" href="@Url.Action("MissionVolunteering", "Mission" , new{ id=@Model.StoryDetail.MissionId})" class="card-button d-flex justify-content-between align-items-center align-self-center mt-0">
                            Open Mission
                            <img src="~/images/right-arrow.png" alt="">
                            <img src="~/images/right-arrow2.png" alt="">
                        </a>
                    </div>
                }

                <!-- Invite Volunteer Modal -->
                <div class="modal fade" id="story-invite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Invite Your Friend</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="all-users">
                              
                                    @foreach (var u in Model.UserList)
                                    {

                                        <div class="mt-2 d-flex justify-content-between">

                                            <span class="me-4 " id="user-name" data-userID="@u.UserId">@u.FirstName @u.LastName</span>


                                            <span class="invited-@u.UserId"><button class="btn btn-primary model-button invite-button" data-story-Id="@Model.StoryDetail.StoryId">Invite</button></span>

                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.StoryDetail.Status == "PENDING")
                {
                    <input value="@Model.StoryDetail.StoryId" class="d-none" type="text" />

                    <button class="btn btn-outline-success d-flex align-items-center justify-content-between story-detail-btn approve-story mt-0 px-3 py-2 ">
                        <i class="fa-regular fa-circle-check me-2"></i>
                        <span>Publish</span>
                    </button>
                    <button class="btn btn-outline-warning d-flex align-items-center justify-content-between story-detail-btn decline-story mt-0 px-3 py-2 ">
                        <i class="fa-regular fa-circle-xmark me-2"></i>
                        <span>Decline</span>
                    </button>
                    <button class="btn btn-outline-danger d-flex align-items-center justify-content-between story-detail-btn generic-delete-icon mt-0 px-3 py-2 ">
                        <i class="fa-regular fa-trash-can me-2" data-bs-toggle="modal" data-bs-target="#deleteUser_@Model.StoryDetail.StoryId"></i>
                        <span>Delete</span>
                    </button>

                    <!-- delete story modal -->
                    <div class="modal fade" id="deleteUser_@Model.StoryDetail.StoryId" tabindex="-1" aria-labelledby="add-vol-hours-modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h5 class="modal-title">Confrim Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="d-inline mb-0 text-wrap">Are you sure you want to delete this item?</h4>
                                    <div class="d-flex justify-content-center mt-2">
                                        <button type="button" class="btn btn-outline-secondary skill-btn" data-bs-dismiss="modal">Cancel</button>
                                        <input value="@Model.StoryDetail.StoryId" class="d-none" type="text" />
                                        <button type="button" id="" class="story-delete-btn btn mt-0 card-button ms-2 me-0" data-bs-dismiss="modal">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>

    </div>
    <!-- mission details -->
    <div class="st-mission-heading mt-3 border-bottom pb-3">
        <span class="pb-3">@Model.StoryDetail.Mission.Title</span>
    </div>
    <div class="st-mission-description mb-3">
        <span>@Model.StoryDetail.Mission.ShortDescription</span>

    </div>
</div>